<link type="text/css" rel="stylesheet" href="css/contact-us.css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

<div id="ConBack">
<div id="contactpage">
    <h1 id="head">Contact @GLUG MVIT</h1>
</div>
<div id="info-contact">
    <div id="EmailInfo">
        <a href="mailto:glugmvit@gmail.com" target="_blank"><img src="images/Mail.jpg" class="ContactImg"></a>        <p>GlugMvit@gmail.com</p>
    </div>
    <div>
        <img class="ContactImg" src="images/icons/whatsapp.jpg">
        <p>Abhijeet Singh : 8092125988</p>
        <p>Mahendra Singh : 9480168131</p>
    </div>   
</div>
</div>