{{#ifCond user.type "admin"}}
{{!-- Admin dashboard --}}
  <div class="container pagediv">
    <div class="row pagediv center">
      <div class="col-sm-3 custom-card">
        <a href="/addmem">
        <img class="img-responsive" src="images/add.png" alt="Avatar">
        <hr>
        <div class="custom-card-container">
          <h4><b>Member Management</b></h4> 
          <p>Add or remove a user as member</p> 
        </div>
        </a>
      </div>
      <div class="col-sm-3 col-md-offset-1 custom-card">
        <a href="/addevent">
        <img class="img-responsive" src="images/addevent.png" alt="Avatar">
        <hr>
        <div class="custom-card-container">
          <h4><b>Event Management</b></h4> 
          <p>Announce an event</p> 
        </div>
        </a>
      </div>
    </div>
  </div>
{{!--  --}}
{{else}}
<!--dashborad modified on 30/08/2017-->
<!-- by apoorv tikalkar-->
{{!-- User Dashboard --}}
<br>
<br>
<br>
<br>  
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#">My Profile</a></p>
        <img src="https://s3.amazonaws.com/intellect-wp-prod/wp-content/uploads/sites/6/2017/03/17160602/profle-management.svg" class="img-circle" height="65" width="65" alt="Avatar">
      </div>
     
     <p>About the member</p>
 <p>About the member</p>
 <p>About the member</p>

<p>Qualifications</p>

      <p><a href="#">Link</a></p>
      <div class="well">
        <p><a href="#">Various Feilds</a></p>
        <p>
          <span class="label label-default"><a href="#">ML</a></span>
          <span class="label label-primary"><a href="#">Block Chain</a></span>
          <span class="label label-success"><a href="#">Android</a></span>
          <span class="label label-info"><a href="#">Web</a></span>
          <span class="label label-warning"><a href="#">AI</a></span>
          
        </p>
      </div> 
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">Feedback: for the previous event </p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>     
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p><strong>Registered</strong></p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p><strong>Participated</strong></p>
           </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p><strong>Collaboated</strong></p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
          </div>
        </div>
      </div>
     
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="https://static.pexels.com/photos/7613/pexels-photo.jpg" alt="Paris" width="400" height="300">
        <p><strong>Machine Learning</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>      
      <div class="well">
        <p>Related info</p>
      </div>
      <div class="well">
        <p>Related info</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
 <footer class="" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 footer-copyright">
                © GLUG MVIT - All rights reserved
            </div>
            <div class="col-sm-5 footer-social">
                <div class="pull-right hidden-xs hidden-sm">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{{!--  --}}
{{/ifCond}}
