<header class="main-header" id="header">
    <div class="bg-color">
        <div class="container text-center">
            <div class="wrapper wow fadeInUp delay-05s" >
                <h2 class="top-title">GNU/Linux Users Group</h2>
                <h3 class="title">GLUG MVIT</h3>
                <h4 class="sub-title">For free software enthusiast</h4>
                <a href="/register"><button class="btn btn-lg btn-warning">Signup</button></a>
                <a href="/login"><button class="btn btn-lg btn-success">Login</button></a>
            </div>
        </div>
    </div>
</header>

<!---->
<section id="cta-1">
    <div class="container">
        <div class="row">
            <div class="cta-info text-center">
                <h3 style="font-family: 'Dancing Script', cursive;"><span class="dec-tec">“</span>Information is power. But like all power, there are those who want to keep it for themselves.<span class="dec-tec">”</span> -Aaron swartz</h3>
            </div>
        </div>
    </div>
</section>
<!---->
<!---->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wow fadeInLeft delay-05s">
                <div class="section-title">
                    <h2 class="head-title">Put Something here</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-md-6 wow fadeInRight delay-02s">
                    <div class="icon">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Put Something here</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-02s">
                    <div class="icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Put Something here</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-04s">
                    <div class="icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Put Something here</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-04s">
                    <div class="icon">
                        <i class="fa fa-desktop"></i> 
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Put Something here</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-06s">
                    <div class="icon">
                        <i class="fa fa-lightbulb-o"></i> 
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Put Something here</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-06s">
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Put Something here</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Saample parallax section --}}

<!---->
<section class="section-padding parallax bg-image-2 section wow fadeIn delay-08s" id="cta-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="cta-txt">
                    <h3>Subscribe For Updates</h3>
                    <p>Join our subscribers and get access to the latest tools, event announcements and much more!</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <a href="/register" class="btn btn-submit">Subscribe Now</a>
            </div>
        </div>
    </div>
</section>
<!---->
<!---->
<section class="section-padding wow fadeInUp delay-02s" id="opensource">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="section-title">
                    <h2 class="head-title">Something more here</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!---->
<!---->
<section class="section-padding wow fadeInUp delay-05s" id="contact">
    <div class="container">
        <div class="row white">
            <div class="col-md-8 col-sm-12">
                <div class="section-title">
                    <h2 class="head-title black">Contact Us</h2>
                    <hr class="botm-line">
                    <p class="sec-para black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                    <h3 class="cont-title">Email Us</h3>
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <div class="contact-info">
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <button type="submit" class="btn btn-send">Send</button>
                        </form>
                    </div>
                    
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="cont-title">Fill in here</h3>
                    <div class="location-info">
                        <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>Lorem epsum</p>
                        <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>Phone: Lorem epsum</p>
                        <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">glugmvit@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-icon-container hidden-md hidden-sm hidden-xs">
                        <span aria-hidden="true" class="fa fa-envelope-o"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---->
<!---->
<footer class="" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 footer-copyright">
                © GLUG MVIT - All rights reserved
            </div>
            <div class="col-sm-5 footer-social">
                <div class="pull-right hidden-xs hidden-sm">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!---->
<!--contact ends-->