<div class="container-fluid">
  <!-- Divison for Image and Events Carousel -->
  <br>
  <div class="row">

    <div class="col-sm-3">

      <!-- Division for logo and quote -->
      <div class="jumbotron">
            <img src="images/LOGO.png" height="200" width="250" alt="GLUGMVIT"/>
            <p style="font-size:28px">"Free not as in Free Beer,</p>
            <p style="font-size:28px">Free as in <strong>Freedom</strong>"</p>
      </div>

    </div>
    <!-- Images Carousel Begin -->
    <div class="col-sm-9">
      <div class="banner-wrapper">
          <div class="banner">
            <div class="slideshow-container">

              <!-- This part needs to be automated in response with DB -->
              <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="../images/session0.jpg" style="width:100%">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Something</h3>
                  <p>Some Text</p>
                </div>
              </div>
              <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="../images/session2.jpg" style="width:100%">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Something</h3>
                  <p>Some Text</p>
                </div>
              </div>
              <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="../images/session1.jpg" style="width:100%">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Something</h3>
                  <p>Some Text</p>
                </div>
              </div>

              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div>
          </div>
      </div>
    </div>
    <!-- Images Carousel End -->
  </div>
</div>

<br>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-8">
      <div class="panel-wrapper">

          <div class="panel marRight30">
              <div class="title">
                  <h2>Starting GLUG at</h2>
                  <h1><font color="#e5703d">SMVIT</font></h1>
              </div>
              <div class="content">
                  <p>The inception of this Club for free software enthusiasts called GLUG (GNU Linux Users Group)happened to
                      me when I was at FSMK...</p>
                  <div class="button-link"><a href="#">read more ></a></div>
              </div>
          </div>
          <div class="panel">
              <div class="title">
                  <h2>Our</h2>
                  <h1><font color="#e5703d">Objectives</font></h1>
              </div>
              <div class="content">
                  <p>Some text that will describe what would be our objectives.Our course of action blah blah blah. i am
                      writing more to see how it looks... </p>
                  <div class="button-link"><a href="#">read more ></a></div>
              </div>
          </div>
      </div>


      <div class="page-wrapper">
          <div class="primary-content">
            <div class="panel marRight30">
                <div class="title">
                    <h2>What is </h2>
                    <h1><font color="#e5703d">Open source?</font></h1>
                </div>
                <div class="content">
                    <p>The term "open source" refers to something people can modify and share because its design is publicly
                        accessible. Today,as we know ...</p>
                    <div class="button-link"><a href="#">read more ></a></div>
                </div>
            </div>
              <div class="panel">
                  <div class="title">
                      <h3>Promoting Open Source:</h3>
                      <h2><font color="#e5703d">Free Software Moment Karnataka</font></h2>
                  </div>
                  <div class="content">
                      <p>Description about Free Software Moment in Karnataka.blah blah blah.<br>this is just a checking phase.
                          how the site will look <br> in real and is it looking good?<br>Some extra text to make this
                          paragraph bit longer..</p>
                      <div class="button-link"><a href="#">Read More ></a></div>
                  </div>
              </div>
          </div>
          <div class="sidebar">
              <div class="panel">
                  <div class="title">
                      <h3>Use Us:</h3>
                      <h2><font color="#e5703d">Support Open Source</font></h2>
                      <figure><img src="images/bh.png" height="270" width="350" usemap="#logo" alt="GLUGMVIT"/>
                      </figure>
                  </div>

              </div>
          </div>

      </div>
      <div id="footer"><strong>GLUG MVIT<br>Sir M visvesvaraya Institute Of Technology,Bengaluru</strong></div>
      </div>


<div class="col-sm-4">

  <div class="list-group">
    <a href="#" class="list-group-item active">
      Event Details
    </a>
    <a href="#" class="list-group-item list-group-item-action">Event 1</a>
    <a href="#" class="list-group-item list-group-item-action">Event 2</a>
    <a href="#" class="list-group-item list-group-item-action">Event 3</a>
    <a href="#" class="list-group-item list-group-item-action">Event 4</a>
  </div>

</div>
</div>
</div>


<script type="text/javascript" src="js/jscript.js"></script>
