<div class="container">
    <div class="row">
        <h2 class="page-header">Register</h2>
    </div>
    {{#if errors}}
      {{#each errors}}
        <div class="col-md-3 alert {{type}}">{{msg}}</div>
      {{/each}}
    {{/if}}
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
        </div>
        <div class="col-sm-6">
            <form method="POST" action="/register">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="fname" class="form-control input-lg"
                               placeholder="First Name"/></div>
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="lname" class="form-control input-lg"
                               placeholder="Last Name"/></div>
                </div>
                <input type="email" name="email" class="form-control input-lg" placeholder="Your Email"/>
                <input type='tel' name="number" class="form-control input-lg" placeholder="Your PhoneNumber"/>
                <input type="text" name="username" class="form-control input-lg" placeholder="Your username"/>
                <input type="password" name="password" class="form-control input-lg" placeholder="Password"/>
                <input type="password" name="password2" class="form-control input-lg" placeholder="Confirm Password"/>
                <label>USN</label>
                <input type="text" name="usn" maxlength="10" value="" class="form-control input-lg"
                       placeholder="Your USN"/>
                <br/>
                <span class="help-block">By clicking Create my account, you agree to be a part of GLUG MVIT and contribute the open and free software.</span>
                <button class="btn btn-primary btn-block" type="submit">Create my account</button>
            </form>
        </div>
    </div>
</div>