
<div class="tabbable container pagediv pt-40">
  <div class="col-md-12">
    <h1 class="text-center team-head">Meet Our Teams</h1>
  </div>

  <br>
    <ul class="nav nav-tabs nav-pills" id="myTab">
        <li class="dropdown pull-right teamdropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <h4 class="text-center"> Select a Team<span class="caret"></span></h4></a>

            <ul class="dropdown-menu" role="menu">
                <li><a href="#tab1" data-toggle="tab">
                  <h5 class="text-center">Team 1</h5</a>
                </li>
                <li><a href="#tab2" data-toggle="tab">
                  <h5 class="text-center">Team 2</h5></a>
                </li>
                <li><a href="#tab3" data-toggle="tab">
                  <h5 class="text-center">Team 3</h5></a>
                </li>
                <li><a href="#tab4" data-toggle="tab">
                  <h5 class="text-center">Team 4</h5></a>
                </li>
            </ul>
        </li>
    </ul>

    <br>


<div class="tab-content container">
    <div class="row tab-pane" id="tab1">
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/ak.jpeg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block " src="images/members/aje.jpeg" alt="">
          <h3 >NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/cmvs.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/hks.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/jgm.jpeg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/jj.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/vhr.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/pkn.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
      </div>

      <div class="tab-pane row" id="tab2">
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/jj.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/ak.jpeg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/hks.jpg" alt="">
            <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block " src="images/members/aje.jpeg" alt="">
          <h3 >NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/jgm.jpeg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/cmvs.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/vhr.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
        <div class="col-md-3 text-center">
          <img class="img-responsive teampic img-circle center-block" src="images/members/pkn.jpg" alt="">
          <h3>NAME HERE</h3>
        </div>
      </div>



        <div class="row tab-pane" id="tab3">
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/ak.jpeg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block " src="images/members/aje.jpeg" alt="">
            <h3 >NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/cmvs.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/hks.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/jgm.jpeg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/jj.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/vhr.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/pkn.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
        </div>



        <div class="tab-pane row" id="tab4">
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/jj.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/ak.jpeg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
              <img class="img-responsive teampic img-circle center-block" src="images/members/hks.jpg" alt="">
              <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block " src="images/members/aje.jpeg" alt="">
            <h3 >NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/jgm.jpeg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/cmvs.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/vhr.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
          <div class="col-md-3 text-center">
            <img class="img-responsive teampic img-circle center-block" src="images/members/pkn.jpg" alt="">
            <h3>NAME HERE</h3>
          </div>
        </div>
    </div>
</div>


<!-- JavaScript script to select the first li option as default tab in the
dropdown-->

<script>
  $(document).ready(function() {
   $(".dropdown .dropdown-menu li a")[0].click();
  });
</script>
