<br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      member1
    </div>
    <div class="col-sm-2">
      member2
    </div>
    <div class="col-sm-2">
      member3
    </div>
    <div class="col-sm-2">
      member4
    </div>
    <div class="col-sm-2">
      member5
    </div>
    <div class="col-sm-2">
      member6
    </div>
  </div>
</div>
