<!-- Created by Apoorv on 24-08-2017
      page for upcoming events-->
<!-- Container (UPCOMING) -->
<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">UPCOMING EVENTS</h3>
    <p class="text-center">a good quote for the events,a good quote for the events,  <br> Remember to register for event!</p>
    
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1380930339i/3347584._SX540_.jpg" alt="event" width="400" height="300">
          <p><strong>event</strong></p>
          <p>Friday 27 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Register for Event</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1380930339i/3347584._SX540_.jpg" alt="New York" width="400" height="300">
          <p><strong>event</strong></p>
          <p>Saturday 28 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Register for Event</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1380930339i/3347584._SX540_.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>event</strong></p>
          <p>Sunday 29 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Register for Event</button>
        </div>
      </div>
<div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1380930339i/3347584._SX540_.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>event</strong></p>
          <p>Sunday 29 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Register for Event</button>
        </div>
      </div><div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1380930339i/3347584._SX540_.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>event</strong></p>
          <p>Sunday 29 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Register for Event</button>
        </div>
      </div><div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/hostedimages/1380930339i/3347584._SX540_.jpg" alt="San Francisco" width="400" height="300">
          <p><strong>event</strong></p>
          <p>Sunday 29 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Register for Event</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3 class="text-center">From The Events</h3>  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Participant 1</a></li>
    <li><a data-toggle="tab" href="#menu1">Participant 2</a></li>
    <li><a data-toggle="tab" href="#menu2">Participant 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>Name </h2>
      <p> I mean, sometimes I enjoy the show, but other times I enjoy other things.<br>
Man, we've been on the road for some time now. Looking forward to lorem ipsum.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>name</h2>
      <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.<br>
Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>name</h2>
      <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
    </div>
  </div>
</div>

 
<!-- Footer -->
 <footer class="" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 footer-copyright">
                © GLUG MVIT - All rights reserved
            </div>
            <div class="col-sm-5 footer-social">
                <div class="pull-right hidden-xs hidden-sm">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

