/*.bg {

   background-image:url('../images/back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}*/
/*-------------------------------------------------
BANNER CLASSES
-------------------------------------------------*/
.banner-wrapper{border:2px solid #e5e5e5;background:none; repeat-x #ffffff; margin-top:0.002%;margin-left:5%; margin-right:0%; overflow:hidden;}
.banner-wrapper img {

	width:100%;
	height:500px;
border-radius:5px;

}

.banner-wrapper table td {
	border: 1px #70b8ff solid;
border-radius:5px;
}
.banner{width:100%;float:left; margin-left:9px; margin-top:9px; margin-bottom:9px;border-radius:5px;}
.banner-content{width:100%; float:left; margin-top:130px; margin-right:6px;display:inline;text-align:center;}
.banner-content h1{font-family:font-family: 'Tienne', serif; font-size:30px; color:#e5703d; text-transform:uppercase; font-weight:normal;}
.banner-content h2{color:#bbbbbb; font-family: 'Lato', sans-serif; font-size:22px; font-weight:normal; text-transform:none;display:inline;}
.banner-content p{color:#bbbbbb; font-size:12px; padding-top:20px;}
.banner-content a{background:#f47742; display:inline; width:180px; height:40px; line-height:40px; margin-top:20px; color:#ffffff; font-family:font-family: 'Tienne', serif; font-size:15px; text-align:center; text-decoration:none; text-transform:uppercase; font-weight:normal;}
.banner-content a:hover{background:#e5703d; display:block; width:180px; height:40px; line-height:40px; margin-top:20px; color:#ffffff; font-family:font-family: 'Tienne', serif; font-size:15px; text-align:center;}

/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/

.panel {overflow:hidden;}
.title {}
.content { overflow:hidden; font-size:13px;};
.contento { overflow:hidden; font-size:13px; height: 80px}
.button-link{}
.button-link a{text-decoration:none; color:#ffffff; font-family: 'Tienne', serif; font-size:11px; background:#FF6600; width:90px; height:24px; line-height:24px; text-align:center; text-transform:uppercase; display:block; font-weight:normal;}
.button-link a:hover{text-decoration:none; background:#333333;}

/*-------------------------------------------------
3 PANELS CLASSS
-------------------------------------------------*/
.panel-wrapper { width:inline; overflow:hidden; margin-top:10px; border-bottom:1px solid #e2e2e2;display:inline;background:none;margin-left:10%}
.panel-wrapper .panel{float:left; width:inline; margin-bottom:5px;display:inline;margin-left:65px;margin-right:0px;background:none;}
.panel-wrapper .title{padding-bottom:2px;}
.panel-wrapper .content p{line-height:18px;}
.panel-wrapper .button-link{ padding-top:26px;}
.panel-wrapper .content ul li{display:block; border-bottom:1px solid #e2e2e2; height:40px; line-height:40px;}
.panel-wrapper .bdrBottom{border-bottom:solid;}
.panel-wrapper .content ul li a{color:#000000; font-size:13px; text-decoration:none;}
.panel-wrapper .content ul li a:hover{color:#e5703d;}
.panel-wrapper .content ul li.borderNone { border-bottom:none;}
.panel-wrapper .content img{width:200px; height:180px;}
.panel-wrapper .contentbox{width:200px; height:40px; background:none;}
.panel-wrapper .contentbox h1{font-size:13px; font-weight:normal; color:#333333; text-align:center; line-height:50px;}
/*-------------------------------------------------
CSS TWEAKS
-------------------------------------------------*/
.clearing { clear:both;}
.fltLeft { float:left;}
.flrRight { float:right;
margin-top:50px;
margin-right:1px;}
.marLeft30 { margin-left:30px;}
.marRight30 { margin-right:80px;}
.marRight20 { margin-right:30px;}
.marginTop { margin-top:30px;}
.marginBottom { margin-bottom:60px;}
.padTop { padding-top:20px;}
.padBottom { padding-bottom:20px;}
.wid960{ width:960px !important; }

/*-------------------------------------------------
MIDDLE 2 PANELS CLASSS
-------------------------------------------------*/
.panel-wrapper .midpanelleft{width:100%; height:270px; float:left; margin-bottom:44px;}
.panel-wrapper .midpanelright{width:100%; float:left;margin-top:22px;}
.panel-wrapper .midpanelright .panel{width:200px; float:left;}

/*-------------------------------------------------
LAYOUT CLASSS
-------------------------------------------------*/
.page-wrapper { width:100%; overflow:hidden; margin-top:5px; padding-bottom:60px;margin-left:0px;display:inline-block;float:left;background:none;}
.page-wrapper .panel{float:left; width:100%; margin-bottom:10px;display:inline;margin-left:65px;margin-right:0px;float:left;background:none;}


.primary-content { float:left; margin-left:0px; width:100%; overflow:hidden; border-right:1px solid #e2e2e2;}
.sidebar { float:left;margin-left:0px; width:95%; overflow:hidden;background:none;}


/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
#navibar {
	width:100%;
	text-align:center;
    background-color: #333333;
    color:#00cc33;
}
.item{
	display: inline-block;
	padding: 15px;
}
.item:hover{
	background-color: black;
}
#focus:hover figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#focus:hover figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}
a.link{
    text-decoration: none;
    color:#00cc33;
    font:15px/30px Georgia, serif;
}
a:hover{
    color:#00B4FF;
}
#footer {

    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top: -3em;
    background-color: #70757c;
    text-align:center;
    padding: 5px;
    border:2px solid black;

}



/*------------------------------------------------------------------------------------*/
/* Slideshow poster start*/
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}


.mySlides {
  display: none;
 }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
   cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 5.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Slideshow poster end*/
/*------------------------------------------------------------------------------------*/
