body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; 
}
/*Disable scroll bar*/
body::-webkit-scrollbar { 
    display: none; 
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.pagediv {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-padding
{
  padding: 60px 0px;
}
h1, h2, h3, h4, h5, h6
{
  font-family: 'Lato', sans-serif;
}
/**media Queries**/
.navbar-default {
  
  background: black;
    opacity: 0.8;
}
.drop {
  padding-top:30px !important;
  text-align: center;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.drop p {
  color: white;
}
.main-header
{
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  min-height: 660px;
}
.bg-color
{
  min-height: 660px;
  background-color: rgba(0, 0, 0, 0.41);
}

.nav > li > a {
    padding: 0px;
}
.navbar-brand
{
  padding: 5px;
  height: inherit;
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
    color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFD34E;
    background-color: transparent;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 0px 20px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
  color: #FFD34E;
}

.navbar-fixed-top {

    padding: 22px 0;
    transition: all 0.5s;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed; /* this can also be static */
}
.top-nav-collapse {
    background: rgba(0,0,0,0.8);
    padding: 20px 0;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.wrapper
{
  padding: 90px 0px 130px;
}
.top-title
{
  z-index: 5;
  font-size: 27px;
  font-weight: 700;
  color: #fff;
  line-height: 38px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}
.sub-title
{
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 71px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}
.title
{
  font-size: 123px;
  font-weight: 700;
  color: #fff;
  line-height: 88px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
  padding: 25px 0px;
}
.btn-submit
{
    background: #FFD34E;
    border: 0px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #333;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-top: 25px;
    border: 2px solid  #FFD34E;
}

.btn-submit:hover {
    background: #fff;
}
/****/
#cta-1
{
  padding: 40px 0px;
}
.cta-info
{
  border: 5px solid #FFD34E;
  padding: 40px 0px;
}
.cta-info h3
{
  font-size: 24px;
}
.dec-tec
{
  font-size: 34px;
}
/****/
#about
{
  background-color: #f8f8f8;
}
.head-title
{
  color: #2b2b2b;
  font-size: 32px;
  font-weight: 700;
}
.botm-line
{
  background-color: #2b2b2b;
  width: 34px;
  height: 3px;
  display: inline-block;
}
.section-title:hover .botm-line
{
  width: 70px;
  /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;
    /* Standard syntax */
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}
p
{
  color: #888;
}
.icon {
    position: relative;
    height: 48px;
    width: 48px;
    float: left;
    margin-top: 14px;
    margin-bottom: 20px;
}
.icon i
{
  font-size: 35px;
}
.icon-text {
    margin-left: 73px;
    padding:0px 25px 25px 0px;
}
h3.txt-tl {
    font-size: 24px;
    line-height: 1.35;
}
/****/
.parallax {
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center center;
}
.bg-image-2 {
    background: url('../images/img3.jpg') no-repeat center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.section {
    position: relative;
    padding: 88px 0 67px 0;
    display: block;
}
.cta-txt h3 {
    
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #fff;
}
.cta-txt p
{
  color: #fff;
}
/****/
.portfolio-box
{
  margin-bottom: 15px;
}
.padding-right-zero
{
  padding-right: 0px;
}
#contact
{
  background-color: #f8f8f8;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
  display:block;
}

.black
{
  color: #000 !important;
  font-weight: 600;
}
.btn-send
{
  border-radius: 0px;
  color: #000;
  background-color: #FFD34E;
}
a, a:hover
{
  color: #FFD34E;
}
.cont-title
{
  font-size: 24px;
  padding:15px 0px;
}
.location-info p span {
    display: inline-block;
}
.location-info p span {
    width: 40px;
    font-size: 24px;
    color: #666;
    vertical-align: middle;
}
.location-info p {
    margin-bottom: 5px;
}
.location-info p {
    font-size: 18px;
    line-height: 32px;
    color: #000;
}
.contact-icon-container {
    position: absolute;
    top: -38px;
    right: 0;
    padding-right: 20px;
    font-size: 320px;
    color: #555;
    line-height: 300px;
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
/****/
#footer
{
  background-color: #191919;
  padding: 20px 0px;
}
.footer-copyright {
    color: #fff;
    line-height: 32px;
    text-align: left;
}
.footer-social
{
  float: right;
}
.footer-social a {
    font-size: 18px;
    color: #666;
}
.link-dec, .link-dec:hover{
    color: #000;
}
/****/
@media (min-width: 451px) and (max-width: 900px){
    .section-title{
        margin-bottom: 15px;
    }
}
@media (min-width: 20px) and (max-width: 450px){
    .navbar-fixed-top {
        padding: 10px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
      position: fixed; /* this can also be static */
    }
    .navbar-toggle:hover, .navbar-toggle{
        background-color: #000;
        color:black;
    }
    .navbar-toggle{
        margin-top: 0px;
    }
    .navbar-toggle-span{
      color: red;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
      background-color: #fff;
    }
    .navbar-default .navbar-nav > li > a{
        font-weight: bold;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.32);
        color: #000;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
        background-color: rgba(255, 255, 255, 0.32);
        color: #FFD34E;
    }
    .drop p {
      color: black;
    }
    .top-title{
        font-size: 15px;
    }
    .title{
        font-size: 50px;
    }
    .sub-title{
        font-size: 24px;
    }
    .footer-copyright {
    text-align: center;
    }
    .padding-right-zero{
        padding-right: 15px;
    }
    .section-title{
        margin-bottom: 15px;
    }
    .cta-txt h3{
        font-size: 28px;
    }
    body{
        font-size: 14px;
    }
    h3.txt-tl{
        font-size: 20px;
    }
}
/****/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*Snackbar end*/

/*Color to navbar username*/
#name {
  color:#FFCDD2;
}

/*Contact button*/
#mycontact {
  padding: 5px;
  position: fixed;
  width: 120px;
  text-align: center;
  color: white;
  background-color: rgba(227, 30, 36, 0.8);
  right: 4%;
  z-index: 999;
  font-size: 15px;
  bottom: 0;
}

.seperator{
  border-left: 1.5px solid #ccc;
  padding-left: 20px;
}



.users{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.username{
  text-align:center;

}

#exTab1 .tab-content {
  color : white;
  background-color:#f7f8f9;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #f7f8f9;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #f7f8f9;
  padding : 5px 15px;
}

.pills-tab > li > a{
  color:black;
  background-color: grey;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.tab-pane > h3{
  color: black;
  height: 250px;

}

.nav-pills>li.active>a{
  background-color: #f7f8f9;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: darkgrey;
}

