/* Navibar CSS */
.navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
#navibar {
	width:100%;
	text-align:center;
    background-color: #333333;
    color:#00cc33;
}
.item{
	display: inline-block;
	padding: 15px;
}
.item:hover{
	background-color: black;
}
a.link{
    text-decoration: none;
    color:#00cc33;
    font:15px/30px Georgia, serif;
}
a:hover{
    color:#00B4FF;
}

#head1	{
	padding: 15px;
	font: 50px;
	color:white;
	margin:0;
    font-family: 'PT Sans Narrow';
}
#teampage {
	margin-bottom:5px;
	background-color:#263238;
	text-align: center;
	color: white;
}
.MemberDetails
{
	height: 300px;
    width: 400px;
    padding:20px;
    margin-top: 29px;
    display: inline-block;
    text-align: center;
    font-family: 'Shrikhand';
}
.png {
	padding: 5px 15px;
	align-content:center;
}
.img-circle{
    top:330px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* Disable GrayScale Effect */
      filter: none;
    -webkit-filter: grayscale(0);

}
/* Enable grayscale on hover */
.img-circle:hover{
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

#foot{
    margin-top:120px;
    padding:20px;
    color:white;
    font:15px Century Gothic;
    background-color:#263238;
    text-align: center;
}
