<html lang="en" >
    <head>
        <meta charset="utf-8" />    
		<title>About Us</title>
        <link href="../static/css/about.css" rel="stylesheet" type="text/css" />
    </head>
    <body id="abtback1">
		<div class="navibar navibar-fixed-top">  
		    <div class="item"><a class="link" href="/">Home</a></div>
            <div class="item"><a class="link" href="#">About</a></div>
            <div class="item"><a class="link" href="#">Activities</a></div>
            <div class="item"><a class="link" href="#">Upcoming Event</a></div>
            <div class="item"><a class="link" href="team.html">The Team</a></div>
            <div class="item"><a class="link" href="#">Register</a></div>
        </div>
		<div class="aboutpage">
			<h1 id="head1">ABOUT US</h1>
		</div>
			<p	class="paragraph"> <a class="links" href="https://www.gnu.org" target="_blank"><b>GLUG</b></a> - GNU/Linux user groups are the means of spreading the idea and philosphy of free software.<br> 
			GLUG serves as a base to technically empower yourself, interact with professionals,<br> right from installation to hacking the linux kernel,
			to web technologies like drupal and<br> at the same time raising these questions of self reliance .</p>
			<p class="paragraph"> <a class="links" href="https://www.facebook.com/groups/193504514397500" target="_blank"><b>GLUG MVIT</b></a> - GNU LINUX USERS GROUP, MVIT
			is a community<br> for free software enthusiasts.
			It promotes, teach and contribute for free software.<br>
			Various events, workshops and hackathons related to free software are organised in this community.<br>
			Be the part of this wonderful community and work towards bringing the "CHANGE".</p><br>
			<a  id="next" href="journey.html">Continue Reading...</a>
		</div>	
    </body>
</html>