<html lang="en" >
    <head>
        <meta charset="utf-8" />    
		<title>Contact US</title>
        <link type="text/css" rel="stylesheet" href="../static/css/contact-us.css">
    </head>
    
    <body id="ConBack">
        <div id="navibar" class="navibar-fixed-top">  
		    <div class="item"><a class="link" href="/">Home</a></div>
            <div class="item"><a class="link" href="about.html">About</a></div>
            <div class="item"><a class="link" href="journey.html">Journey</a></div>
            <div class="item"><a class="link" href="#">Activities</a></div>
            <div class="item"><a class="link" href="#">Upcoming Event</a></div>
            <div class="item"><a class="link" href="team.html">The Team</a></div>
            <div class="item"><a class="link" href="/registration">Register</a></div>
        </div>
        <div id="contactpage">
			<h1 id="head">Contact @GLUG MVIT</h1>
        </div>
        <div id="info-contact">
            <p>glugmvit@gmail.com<br><br>XYZ : *************<br><br>XYZ: 13331********</p>
        </div>
    </body>