<html lang="en" >
    <head>
        <meta charset="utf-8" />
		<title>GLUG MVIT/about</title>
        <link href="../static/css/about.css" rel="stylesheet" type="text/css" />
    </head>
    <body background="../../static/images/aboutback.jpg" id="abtback1">
	<div class="navibar navibar-fixed-top">  
		    <div class="item"><a class="link" href="/">Home</a></div>
            <div class="item"><a class="link" href="about.html">About</a></div>
            <div class="item"><a class="link" href="#">Activities</a></div>
            <div class="item"><a class="link" href="#">Upcoming Event</a></div>
            <div class="item"><a class="link" href="team.html">The Team</a></div>
            <div class="item"><a class="link" href="#">Register</a></div>
        </div>
		<div class="aboutpage">
			<h1 id="head2">EVOLUTION</h1>
		</div>
			<p	class="paragraph"> <a class="links" href="https://www.gnu.org/philosophy/free-sw.en.html" target="_blank"><b>“Libre Not Gratis”</b></a> , free as in freedom of speech and not as in free beer,
			<br>a freedom to use, understand, modify and share the software. The freedoms that one really care(s) for,
			<br>make our path to take up this initiative of creating a Club called GLUG MVIT at our college.</p>
			<p class="paragraph">The inception of this Club for free software enthusiasts called GLUG (GNU Linux Users Group) <br>happened because of FSMK.
			FSMK have been actively supporting free software. The ideologies that were proposed by Richard Stallman in particular really drove 
			towards this wonderful community.</p>
			<p class="paragraph">To start with our college, their were many other clubs, but lacked a club that would support,
			teach and promote free software. Even though more than 90% of the software that is being used by the tech industries today are basically free 
			software’s like python, Mongodb, django to name a few,their isn't much initiation to bring forth the full potential of freedoms which govern
			the free softwares.So basically the freedom to use, understand, modify and share the software, carved our way 
			to come up with a club i.e. GLUG in the college.</p>
	</body>
</html>		