<html lang="en" >
    <head>
        <meta charset="utf-8" />    
		<title>The Team</title>
        <link href="../static/css/team.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<div id="navibar" class="navibar-fixed-top">  
		    <div class="item"><a class="link" href="/">Home</a></div>
            <div class="item"><a class="link" href="about.html">About</a></div>
            <div class="item"><a class="link" href="#">Activities</a></div>
            <div class="item"><a class="link" href="#">Upcoming Event</a></div>
            <div class="item"><a class="link" href="team.html">The Team</a></div>
            <div class="item"><a class="link" href="#">Register</a></div>
        </div>
		<div id="teampage">
			<h1 id="head1">Team @GLUG MVIT</h1>
        </div>
        <div>
			<span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/vhr.jpg" height="300px" width="300px">
                <h1>Veeresh HR</h1>    
                <p>I am final year computer science and engineering undergraduate student who has a passion towards coding 
                    and related computer technologies.I work on various open source projects and I am big supporter of free 
                    software.
                </p>
                
                <a class="png" href="https://www.facebook.com/veereshhr121" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://www.linkedin.com/in/veereshhr" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/vhr121" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:veereshhr121@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>

			<span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/cmvs.jpg" height="300px" width="300px">
                <h1>Mahendra Singh</h1>    
                <p>I am a student pursuing my engineering in Computer Science at Sir M Visvesvaraya Institute
                    of Technology. Interested in learning n developing new skills. <br>
                    <&nbsp LEARN | CODE | EAT | REPEAT &nbsp>
                </p>
                    
                <a class="png" href="https://www.facebook.com/profile.php?id=100005671517447" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                    
				<a class="png" href="https://in.linkedin.com/in/mahendra-singh-2961b8127" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                    
                <a class="png" href="https://github.com/Mahendra114027" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                    
                <a class="png" href="mailto:samcmvs11225@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                    
			</span>

			<span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/kvd.jpg" height="300px" width="300px">
                <h1>Vishnudev</h1>    
                <p>I'am a student pursuing my engineering in Computer Science at Sir M Visvesvaraya Institute
                    of Technology. Love to code,design and game.
                </p>
                
                <a class="png" href="https://www.facebook.com/profile.php?id=100001034769882" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://in.linkedin.com/in/vishnu-dev-07b699111" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/vishnu-dev" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:vishnudev@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
                <br><br><br>
            
			<span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/hks.jpg" height="300px" width="300px">
                <h1>Himanshu Kumar</h1>    
                <p>I am final year computer science and engineering undergraduate student who has a passion towards coding 
                    G MVIT and current club lead.
                </p>
                <a class="png" href="https://www.facebook.com/pramay.nikhade" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://www.linkedin.com/in/himanshu-kumar-a461b675" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/Himanshu4746" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:himanshukumar5208@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
            
            <span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/pkn.jpg" height="300px" width="300px">
                <h1>Pramay Nikhade</h1>    
                <p>I am final year computer science and engineering undergraduate student who has a passion towards coding 
                    G MVIT and current club lead.
                </p>
                
                <a class="png" href="https://www.facebook.com/pramay.nikhade" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://www.linkedin.com/in/pramay-nikhade-939a79128" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/pramayn99" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:pramaynikhade99@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
		</div>	
    </body>
</html>