<html lang="en" >
    <head>
        <meta charset="utf-8" />    
		<title>The Team</title>
        <link href="../static/css/team.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<div id="navibar" class="navibar-fixed-top">  
		    <div class="item"><a class="link" href="/">Home</a></div>
            <div class="item"><a class="link" href="about.html">About</a></div>
            <div class="item"><a class="link" href="journey.html">Journey</a></div>
            <div class="item"><a class="link" href="#">Activities</a></div>
            <div class="item"><a class="link" href="#">Upcoming Event</a></div>
            <div class="item"><a class="link" href="team.html">The Team</a></div>
            <div class="item"><a class="link" href="/registration">Register</a></div>
        </div>
		<div id="teampage">
			<h1 id="head1">Team @GLUG MVIT</h1>
        </div>
        <div>
            <br><br><br><br>
<!--Veeresh HR Details-->
			<span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/vhr.jpg" height="300px" width="300px">
                <h1>Veeresh HR</h1>    
                <p>GLUG MVIT Club Lead.<br> A computer geek and travel freak.<br>A big supporter of free software.<br>Coder in Python & c/c++. <br>Currently Working on Deep  Neural Networks.
                </p>
                
                <a class="png" href="https://www.facebook.com/veereshhr121" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://www.linkedin.com/in/veereshhr" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/vhr121" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:veereshhr121@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
<!--Jubin Mathew Details-->
            <span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/jgm.jpeg" height="300px" width="300px">
                <h1>Jubin George Mathew</h1>    
                <p>I am a Computer science and engineering undergraduate student who lives to code. I work on various 
                    languages and domains and try to grasp whatever i can and implement them accordingly. Loves to play Multiplayer Games.
                </p>
                
                <a class="png" href="https://www.facebook.com/profile.php?id=100004812918108" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://in.linkedin.com/in/jubin-mathew-6a7587128" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/jubinmathew1995" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:jubinmathew1995@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
<!--Mahendra Singh Details-->            
			<span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/cmvs.jpg" height="300px" width="300px">
                <h1>Mahendra Singh</h1>    
                <p>I am a student pursuing my engineering in Computer Science at Sir M Visvesvaraya Institute
                    of Technology. Interested in learning n developing new skills. <br>
                    <&nbsp LEARN | CODE | EAT | REPEAT &nbsp>
                </p>
                    
                <a class="png" href="https://www.facebook.com/profile.php?id=100005671517447" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                    
				<a class="png" href="https://in.linkedin.com/in/mahendra-singh-2961b8127" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                    
                <a class="png" href="https://github.com/Mahendra114027" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                    
                <a class="png" href="mailto:samcmvs11225@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                    
			</span>
            <br><br><br><br><br>
<!--Vishnudev Details-->
			<span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/kvd.jpg" height="300px" width="300px">
                <h1>Vishnudev</h1>    
                <p>I am a student pursuing my Engineering in Computer Science at Sir M Visvesvaraya Institute of Technology. Currently keeping myself busy with web development projects. Love to code, design and game.
                </p>
                
                <a class="png" href="https://www.facebook.com/profile.php?id=100001034769882" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://in.linkedin.com/in/vishnu-dev-07b699111" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/vishnu-dev" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:thevishnudev@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
<!--Himanshu Kumar Details-->
			<span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/hks.jpg" height="300px" width="300px">
                <h1>Himanshu Kumar</h1>    
                <p>Passionate Programmer | Loves Web Development | Trying to built my forte by compiling stuffs 
                    for my development | Support My country whole heartedly.
                </p>
                <a class="png" href="https://www.facebook.com/himanshu4746" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://www.linkedin.com/in/himanshu-kumar-a461b675" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/Himanshu4746" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:himanshukumar5208@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
<!--Abhijit Singh Details-->
            <span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/kc.jpeg" height="300px" width="300px">
                <h1>Abhijit Singh</h1>    
                <p>Passionate programmer and a tech enthusiast.He is a poet , member of the debate society and literary club of college. Self-motivated with great team spirit and leadership qualities.
                </p>
                
                <a class="png" href="https://www.facebook.com/singhabhijit988" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://in.linkedin.com/in/singhabhijit988" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/singhabhijit988" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:singhabhijit988@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
            <br><br><br><br><br>
<!--Rakshit Details-->            
            <span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/rk.jpeg" height="300px" width="300px">
                <h1>Rakshit Kitchloo</h1>    
                <p>A Computer Science student Persuing engineering in Sir MVIT, Bangalore. Has interest towards web programming and machine learning. Also a Theatre Artist.
                </p>
                
                <a class="png" href="https://www.facebook.com/rakshit.kitchloo1" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://www.linkedin.com/in/rakshitkitchloo" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/rakshitkitchloo" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:rakshitkitchloo1996@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
<!--Pramay Kumar Details-->            
            <span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/pkn.jpg" height="300px" width="300px">
                <h1>Pramay Nikhade</h1>    
                <p>I am a CSE undergraduate at Sir MVIT who is living his life to his heart content.
                   A defence brat who find interests in modern tech. Coding & Gaming are an essential part of my life.    
                </p>
                
                <a class="png" href="https://www.facebook.com/pramay.nikhade" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://www.linkedin.com/in/pramay-nikhade-939a79128" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/pramayn99" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:pramaynikhade99@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
<!--Abhishek Details-->            
            <span class="MemberDetails">
                
                <img class="img-circle" src="../static/images/members/ak.jpeg" height="300px" width="300px">
                <h1>Abhishek</h1>    
                <p>Loves : Sleeping, Supporting Manchester United, Little bit Web Designing and tilted more towards artistic works
                </p>
                
                <a class="png" href="https://www.facebook.com/abhishek.manutd.7" target="_blank"><img src="../static/images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb"></a>
                
				<a class="png" href="https://www.linkedin.com/in/abhishek-shubham-634101126?trk=hp-identity-name" target="_blank"><img src="../static/images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin"></a>
                
                <a class="png" href="https://github.com/kiessling2495" target="_blank"><img src="../static/images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
                <a class="png" href="mailto:abhi.aatpaa@gmail.com" target="_blank"><img src="../static/images/icons/Gmail.png" style="frame=0;" width="40" height="40" alt="Github"></a>
                
			</span>
		</div>	
    </body>
</html>
